#index:
#    path: /
#    controller: App\Controller\DefaultController::index
authentication_token:
  path: /api/login
  methods: ['POST']
gesdinet_jwt_refresh_token:
  path: /api/token/refresh
  controller: gesdinet.jwtrefreshtoken::refresh
report_download:
  path: /reports/{slug}
homepage:
  path: /
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
  defaults:
    path: /api
    permanent: true